<!DOCTYPE html>
<#assign ctx=request.contextPath />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="${ctx}/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="${ctx}/easyui/themes/icon.css">
    <!-- <link rel="stylesheet" type="text/css" href="${ctx}/easyui/demo.css">-->
    <script type="text/javascript" src="${ctx}/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="${ctx}/easyui/jquery.easyui.min.js"></script>
    <style>
        body{ text-align:center}
        .panel-htop{margin:0 auto}

    </style>
</head>
<body>
<h2>上传excle</h2>
<p></p>
<div style="margin:20px 0;"></div>
<div class="easyui-panel"  style="width:400px;padding:30px 70px 50px 70px">
    <div style="margin-bottom:20px">
        <form id="importFileForm" method="post" enctype="multipart/form-data">
            <div style="margin-bottom:20px">发送者：
            <select class="easyui-combobox" name="senter" id="senter" style="width:100%;">
				<option value="18169038818">17级市营郭建勤</option>
				<option value="18109558303">18级学前董佳</option>
				<option value="15769556818">17级旅管李娜</option>
				<option value="15595485048">17级电商黄天欣</option>
				<option value="18465153531">18级级市营杨健</option>
				<option value="18709650723">17级电商樊启启</option>
			</select>
			</div>
			
            <div>手机号名单文件：</div>
            <input id="file" class="easyui-filebox"  style="width:100%" data-options="prompt:'选择文件',buttonText:'&nbsp;选&nbsp;择&nbsp;',
             accept:'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'">
            </div>
        </form>

    <div>
        <a href="javascript:void(0)" class="easyui-linkbutton" id="uploadFile" data-bind="click:importFileClick" style="width:100%">发送</a>
    </div>

</div>
</body>
<script>
    $(function(){
    	$(function(){
            $('#senter').combobox({    
           	 required:true,    
                multiple:false, //多选
                editable:false  //是否可编辑
           });  
        });
    	
        $("#uploadFile").bind('click', function(){
            //alert($("#message").val())
            var fileName=$("#file").filebox('getValue');
            var size= fileName.length //获取文件后缀
            //alert(type)
            if(size!=0){
                //执行文件上传
                //获取form数据
               // var formData = new FormData($("#importFileForm"));
               // var file = $("#importFileForm").get(0).files[0];
                var file = $("#filebox_file_id_1").get(0).files[0]
                var fileSize=file.size;
                var formData = new FormData();
                formData.append("file", file);
                formData.append("senter",$("#senter").combobox('getText'));
                formData.append("senterPhone",$("#senter").combobox('getValue'));
                $.ajax({
                    url: "/admin/uploadThankFile",
                    type: 'POST',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                    	var json=jQuery.parseJSON(data);
                        if(json.errmsg=="OK"){
                            $("#importFileForm").form('clear');
                            $.messager.show({
                                title:'提 示',
                                msg:'发送成功',
                                timeout:3000,
                                showType:'slide',
                            });
                        }else{
                            $.messager.show({
                                title:'提 示',
                                msg:'发送失败，联系我',
                                timeout:3000,
                                showType:'slide',
                            });
                        }
                    }
                }); 
            }else{
                //$.messager.alert('提示','文件上传错误','info');
                $.messager.show({
                    title:'提 示',
                    msg:'没有选择文件',
                    timeout:3000,
                    showType:'slide'
                });
            }
        });
    });
</script>
</html>